* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
}
.slider-container {
  height: fit-content;
}
.slider {
  display: flex;
  gap: 50px;
}

.star-rating {
  margin-bottom: 20px;
}

.description {
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}
.bio {
  margin-top: 50px;
}
.name {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 11px;
}
.profession {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #908e8e;
}

/* slider  */
#swiper-button-next-slide.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: url("./images/Group\ 17573\ \(1\).svg");
}
#swiper-button-prev-slide.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: url("./images/Group\ 17574\ \(2\).svg");
}

@media (max-width: 800px) {
  #swiper-button-prev-slide {
    left: calc(45% - 40px);
    margin-bottom: 12px;
  }
  #swiper-button-next-slide {
    right: calc(96% - 40px);
    margin-bottom: 12px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: unset !important;
    bottom: 0px;
    position: absolute;
  }
  .slider {
    flex-direction: column;
  }
  .bio {
    margin-bottom: 80px;
  }
  .slider-img img {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  #swiper-button-prev-slide {
    left: calc(98% - 40px);
  }
  #swiper-button-next-slide {
    right: calc(13% - 40px);
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: unset !important;
    bottom: 170px;
    position: absolute;
  }
  .slider {
    flex-direction: row;
  }
}
